<!DOCTYPE html>
<html lang="ja">

  {{ partial "head_archive.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <header class="header-section ">
      <div class="intro-header no-img">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                <h2>#{{ .Title }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" role="main">

        <!-- 記事10件を抽出してlist_tag.htmlのレイアウトで表示 -->
        {{ range (.Paginator 10).Pages }}
            {{ .Render "list_tag" }}
        {{ end }}

        <!-- 記事の前後に移るためのページネータを作成 -->
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
        <div>
            <nav role="pagination">
                {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}" class="">前へ</a>
                {{ end }}
                <span class="">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
                {{ if .Paginator.HasNext }}
                 <a href="{{ .Paginator.Next.URL }}" class="">次へ</a>
                {{ end }}
            </nav>
        </div>
        {{ end }}

    </div><!-- /.contaienr -->

    {{ partial "footer.html" . }}

  </body>
</html>
