<!DOCTYPE html>
<html lang="ja">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}
    {{ partial "header_wp.html" . }}

    <div class="container" role="main">
      {{ if eq .Type "post" }}
        {{ partial "post.html" . }}
      {{ else if eq .Type "page" }}
        {{ partial "page.html" . }}
      {{ else }}
        NO MATCHING PARTIAL
        {{.Content}}
      {{ end }}
    </div>

    {{ partial "single-json.html" . }}
    {{ partial "author-json.html" . }}

    {{ partial "footer.html" . }}

  </body>
</html>
