/**
 * シェアボタン用のスタイル
 */
.share-btns {
  margin-top: 15px;
}

.content-footer__sns-list {
  display: table;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.content-footer__sns-item {
  display: table-cell;
  width: 24%;
  vertical-align: middle;
}

.content-footer__sns-item + .content-footer__sns-item {
  padding-left: 1%;
}

.button {
  border-radius: 5px;
  background-color: #000;
  -ms-transition: opacity 0.4s ease 0s;
  -webkit-transition: opacity 0.4s ease 0s;
  transition: opacity 0.4s ease 0s;
  opacity: 1;
}

.button:hover {
  opacity: 0.8;
}

.button__link {
  display: block;
  padding: 14px 0;
  text-align: center;
  color: #fff;
}

.button__link:hover {
  text-decoration: none;
  color: #fff;
}

.button--sns--tw {
  background-color: #55acee;
}

.button--sns--fb {
  background-color: #315096;
}

.button--sns--hb {
  background-color: #008fde;
}

.icn,
.fa {
  margin-right: 0.4em;
}

.icn--hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    font-style: normal;
}

.button--sns--po {
  background-color: #ef4056;
}

/**
 * 関連記事用スタイル
 */
.related-articles {
  margin-top: 40px;
}
.related-articles__links {
  list-style-type: none;
  margin-top: 24px;
  padding-left: 0;
}

.related-articles__item + .related-articles__item {
  border-top: 1px solid #ededed;
  padding-top: 24px;
  margin-top: 24px;
}

/* リセット */
.related-article__stock,
.related-article__title,
.related-article__tags {
  margin: 0;
}

.related-article__tags,
.related-article__stock {
  font-size: 14px;
}

.related-article__title {
  margin-top: 3px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.4;
}

.related-article__tags {
  margin-top: 6px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.related-article__tag:before {
  content: '#';
  margin-right: -3px;
}
.related-article__tag + .related-article__tag {
  margin-left: 0.4em;
}

.related-article__link {
  color: #404040;
}
