<aside class="share-btns">
  <ul class="content-footer__sns-list">
    <li class="content-footer__sns-item ">
      <p class="button button--sns button--sns--tw">
        <a class="button__link" href="http://twitter.com/intent/tweet?text={{ .Title | safeJS }}%20%7C%20{{ .Site.Title }}%20{{ .Permalink | safeJS }}%20%40{{ .Site.Author.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>ツイート</a>
      </p>
    </li>
    <li class="content-footer__sns-item ">
      <p class="button button--sns button--sns--fb">
        <a class="button__link" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}" target="_blank"><i class="fa fa-facebook"></i>シェア</a>
      </p>
    </li>
    <li class="content-footer__sns-item ">
      <p class="button button--sns button--sns--hb">
        <a class="button__link" href="http://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}" target="_blank"><i class="icn icn--hatena"></i>ブックマーク</a>
      </p>
    </li>
    <li class="content-footer__sns-item ">
      <p class="button button--sns button--sns--po">
        <a class="button__link" href="http://getpocket.com/edit?url={{ .Permalink | safeJS }}" target="_blank"><i class="fa fa-get-pocket"></i>Pocket</a>
      </p>
    </li>
  </ul>
</aside>
